[FR_SECTION_JKT]
HOST_JKT_FR1=10.37.1.13
PORT_JKT_FR1=14157
HOST_JKT_FR2=10.37.1.14
PORT_JKT_FR2=14157
HOST_JKT_FR3=10.37.1.12
PORT_JKT_FR3=14157
HOST_JKT_FR4=10.37.1.25
PORT_JKT_FR4=14157
HOST_JKT_FR5=10.37.1.37
PORT_JKT_FR5=14157
HOST_JKT_FR6=10.37.1.23
PORT_JKT_FR6=14157
HOST_JKT_FR7=10.37.1.24
PORT_JKT_FR7=14157
HOST_JKT_FR8=10.37.0.93
PORT_JKT_FR8=14157
HOST_JKT_FR9=10.37.0.94
PORT_JKT_FR9=14157

[FR_SECTION_MKR]
HOST_MKR_FR1=10.114.131.12
PORT_MKR_FR1=14157
HOST_MKR_FR2=10.114.131.13
PORT_MKR_FR2=14157
HOST_MKR_FR3=10.114.131.14
PORT_MKR_FR3=14157
HOST_MKR_FR4=10.114.131.15
PORT_MKR_FR4=14157
HOST_MKR_FR5=10.114.131.16
PORT_MKR_FR5=14157
HOST_MKR_FR6=10.114.131.17
PORT_MKR_FR6=14157
HOST_MKR_FR7=10.114.131.18
PORT_MKR_FR7=14157

[FR_SECTION_SRB]
HOST_SRB_FR1=10.76.133.24
PORT_SRB_FR1=14178
HOST_SRB_FR2=10.76.133.25
PORT_SRB_FR2=14178
HOST_SRB_FR3=10.76.133.92
PORT_SRB_FR3=14178
HOST_SRB_FR4=10.76.133.115
PORT_SRB_FR4=14178
HOST_SRB_FR5=10.76.133.117
PORT_SRB_FR5=14178
HOST_SRB_FR6=10.76.133.118
PORT_SRB_FR6=14178

[FR_SECTION_PKB]
HOST_PKB_FR1=10.17.129.12
PORT_PKB_FR1=14164
HOST_PKB_FR2=10.17.129.13
PORT_PKB_FR2=14164
HOST_PKB_FR3=10.17.129.14
PORT_PKB_FR3=14164
HOST_PKB_FR4=10.17.129.15
PORT_PKB_FR4=14164
HOST_PKB_FR5=10.17.129.16
PORT_PKB_FR5=14164
HOST_PKB_FR6=10.17.129.17
PORT_PKB_FR6=14164

[FR_SECTION_PLG]
HOST_PLG_FR1=10.24.133.17
PORT_PLG_FR1=14171
HOST_PLG_FR2=10.24.133.18
PORT_PLG_FR2=14171
HOST_PLG_FR3=10.24.133.19
PORT_PLG_FR3=14171
HOST_PLG_FR4=10.24.133.20
PORT_PLG_FR4=14171
HOST_PLG_FR5=10.24.133.21
PORT_PLG_FR5=14171

[FR_SECTION_BJM]
HOST_BJM_FR1=10.102.129.17
PORT_BJM_FR1=14171
HOST_BJM_FR2=10.102.129.18
PORT_BJM_FR2=14171
HOST_BJM_FR3=10.102.129.19
PORT_BJM_FR3=14171
HOST_BJM_FR4=10.102.129.20
PORT_BJM_FR4=14171
HOST_BJM_FR5=10.102.129.21
PORT_BJM_FR5=14171

[BATCH_SECTION_JKT]
BATCH_JKT_IP=10.37.1.103
BATCH_JKT_USERNAME=tkscm02
BATCH_JKT_PATH=/tkcm02/fs_users/tkscm02/var/tks/projs/olc/TalkMania/Work2/JKT
BATCH_JKT_LOG=/tkcm02/fs_users/tkscm02/var/tks/projs/olc/TalkMania/Log

[BATCH_SECTION_MKR]
BATCH_MKR_IP=10.114.130.14
BATCH_MKR_USERNAME=tksrpb01
BATCH_MKR_PATH=/marpb01/fs_users/tksrpb01/var/tks/projs/olc/TalkMania/Work/MKR
BATCH_MKR_LOG=/marpb01/fs_users/tksrpb01/var/tks/projs/olc/TalkMania/Log

[BATCH_SECTION_SRB]
BATCH_SRB_IP=10.76.133.26
BATCH_SRB_USERNAME=tksrpb01
BATCH_SRB_PATH=/sbrpb01/fs_users/tksrpb01/var/tks/projs/olc/TalkMania/Work/SRB
BATCH_SRB_LOG=/sbrpb01/fs_users/tksrpb01/var/tks/projs/olc/TalkMania/Log

[BATCH_SECTION_PKB]
BATCH_PKB_IP=10.17.129.10
BATCH_PKB_USERNAME=tksrpb01
BATCH_PKB_PATH=/pkrpb01/fs_users/tksrpb01/var/tks/projs/olc/TalkMania/Work/PKB
BATCH_PKB_LOG=/pkrpb01/fs_users/tksrpb01/var/tks/projs/olc/TalkMania/Log

[BATCH_SECTION_PLG]
BATCH_PLG_IP=10.24.133.12
BATCH_PLG_USERNAME=tksrpb02
BATCH_PLG_PATH=/plrpb02/fs_users/tksrpb02/var/tks/projs/olc/TalkMania/Work/PLG
BATCH_PLG_LOG=/plrpb02/fs_users/tksrpb02/var/tks/projs/olc/TalkMania/Log

[BATCH_SECTION_BJM]
BATCH_BJM_IP=10.102.129.12
BATCH_BJM_USERNAME=tksrpb02
BATCH_BJM_PATH=/bmrpb02/fs_users/tksrpb02/var/tks/projs/olc/TalkMania/Work/BJM
BATCH_BJM_LOG=/bmrpb02/fs_users/tksrpb02/var/tks/projs/olc/TalkMania/Log

[others_section]
CPU_COUNT=4
INPUT_COUNT=1000000
START_PEAK_HOURS=0
END_PEAK_HOURS=6
SPLIT_RECORD=10000
SLEEP=1
MAX_RECORD=1000000
USER_DB=TKSAPPC
PASS_DB=CONN4TKS
IP_DB=10.37.0.141
SQLLOADER=TKSAPPC/CONN4TKS@TKCM01
